/* 
    ALL
*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
    ABOUT
*/

#ABOUT {
    background-color: black;
}

/* 
    ABOUT-CARD
*/

#ABOUT-CARD {
    background-color: #3E35CC;
}

.about-section {
    background-color: #3E35CC!important;
}

/* 
    BODY
*/

body {
    background-color: black;
}

/* 
    CARD CLASSES
*/

.card-class {
    background-color: #0054a4;
}

.course-information {
    background-color: #00aeef;
}

.course-title {
    color: black;
}

/* 
    CONTAINER CLASSES
*/

.black-background {
    background-color: black;
}

/* 
    CUSTOM HEADERS
*/

.contrast-title-black {
    color: black!important;
    background-color: white!important; 
    border-radius: .6rem;
    text-align: center;
}

.contrast-title-white {
    color: white;
    background-color: #3E35CC; 
    border-radius: .6rem;
    text-align: center;
}

#header-background {
    background-color: #0054a4;
}

#header-text {
    color: white;
}

.yellow-header {
    color: #fff200;
}

.title-background {
    background-color: #3E35CC;
}

/* 
    LINKS
*/

.link {
    color: #fff200!important;
}

link:visited {
    color: #00aeef;
}

.link:hover {
    color: black!important;
}

/*
    MAIN-CONTAINER
*/

#main-background {
    background-color: #00aeef;
}

/*
    NAVBAR
*/

.navbar {
    background-color: white;
    border-bottom: solid black;
}

/*
    NAVBAR ICON
*/

#navButton {
    background: black;
    outline: purple;
    border-color: #3E35CC;
}

/*
    NAVBAR LINKS
*/

#section-nav {
    background-color: white;
}

.nav-link {
    text-align: center;
    transition: color 0.5s;
    color: #0054a4!important;
}

.nav-link:hover {
    transition: color 0.5s;
    color: #fff200!important;
}

/* 
    VIDEO SELECTION
*/

#videoSelect {
    color: #3E35CC!important;
}

/* 
    SPEAKERS
*/

.speakerStyle {
    text-align: left;
    color: #3E35CC;
    font-size: 2rem;
    border-radius: .6rem;
    background-color: white;
    border: solid black;
}

.speaker:hover {
    color: #3E35CC;
}